* {
    margin: 0;
    padding: 0;
    list-style: none;
}


header {
    position: absolute;
    top: 0;
    background-color: #708090 ;
    width: 100%;
    height: 10rem;
}

.logo {
    position: absolute;
    top: 0;
    font-size: 200%;
    text-align: center;
    width: 300px;
    height: 150px;
    border-radius: 300px / 150px;
    margin: 0 auto;
}

.logo-text {
    width: 100%;
    height: 150px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 300px / 150px;
    border-style: solid;
    border-width: 5px;
    border-color: #1e1d22;
    background-image: linear-gradient(#d27831 60%, #1e1d22 60%, #1e1d22 100%);
}

.top {
    font-size: 300%;
    font-style: italic;
    /* font-family: ; */
    position: relative;
    top: 4px;
}

.bottom{
    font-size: 180%;
    font-style: normal;
    /* font-family: ; */
    position: relative;
    top: -25px;
    color: #fefefe;
}

.navbar {
    position: absolute;
    top: 40px;
    left: 340px;
    height: 55px;
    width: 600px;
    background-color: #ffffff;
    border-radius: 5px;
}

.navbar a{
    font-size: 20px;
    display: table;
    float: left;
    padding: 10px 15px;
}

.navbar a li:hover {
    background-color: #e4e1e2;
    border-radius: 5px;
    border-style: solid;
    border-width: .5px;
    border-color: #1e1d22;
    
  }

.navbar a li {
    /* font-family: ; */
    text-align: center;
    height: 35px;
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 5px;
    border-style: solid;
    border-width: .5px;
    border-color:  #ffffff;
}

.main {
    position: absolute;
    top: 160px;
    height: 100%;
    width: 100%;
    background-color: #000000;
}

.container {
    height: 75%;
    width: 95%;
    margin: 15px auto;
    background-color: #ffffff;
    border-radius: 30px;
}

.label {
    position: relative;
    /* font-family: ; */
    color: #fc740d;
    padding: 20px 15px 15px;
}

.description {
    font-size: 130%;
    /* font-family: ; */
    padding: 0px 15px 20px;
}

.card-container{
    display: flex;
    padding-left: 30px;
    padding-top: 50px;
}

.card {
    color: #e4e1e2;
    background-color: #fe8d3f;
    height: 325px;
    width: 225px;
    margin: 15px;
    border-radius: 15px;
}

.product{
    font-size: 20px;
    /* font-family: ; */
    color: #000000;
    position: relative;
    bottom: 33px;
    text-align: center;
}