
header {
    position: absolute;
    top: 0;
    background-color: #708090 ;
    width: 100%;
    height: 10rem;
    display: block;
}

.logo {
    position: absolute;
    top: 0;
    font-size: 200%;
    text-align: center;
    width: 300px;
    height: 150px;
    border-radius: 300px / 150px;
    margin: 0 auto;
}

.logo-text {
    width: 100%;
    height: 150px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 300px / 150px;
    border-style: solid;
    border-width: 5px;
    border-color: #1e1d22;
    background-image: linear-gradient(#d27831 60%, #1e1d22 60%, #1e1d22 100%);
}

.top {
    font-size: 300%;
    font-style: italic;
    /* font-family: ; */
    position: relative;
    top: 4px;
}

.bottom{
    font-size: 180%;
    font-style: normal;
    /* font-family: ; */
    position: relative;
    top: -25px;
    color: #fefefe;
}

.navbar {
    float: right;
    height: 100%;
}
